<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Index</title>
</head>
<body>
<div th:replace="fragments/nav-header"></div>

<div class="container">
    <ul>
        <li th:each="user : ${allUsers}">
            <a th:text="${user.username}" th:href="@{'/users/' + ${user.id}}"></a>
        </li>
    </ul>
</div>
</body>
</html>